@tailwind base;
@tailwind components;
@tailwind utilities;

.a {
    color: hsl(180, 29%, 50%);
}
.b {
    color: hsl(180, 28%, 35%);
}
.c {
    color: hsl(180, 31%, 95%);
}
.d {
    color: hsl(180, 8%, 52%);
}
.d {
    color: hsl(180, 14%, 20%);
    box-shadow: 0 5px 5px rgba(0,0,0,0.25);
}
